<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<nav>
		<ul>
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#about">About</a>
			</li>
			<li>
				<a href="#skills">Skills</a>
			</li>
			<li>
				<a href="#education">Education</a>
			</li>
			<li>
				<a href="#projects">Projects</a>
			</li>
			<li>
				<a href="#extra">Extra and Co-curricular Activities</a>
			</li>

			<li>
				<a href="/blog">Blog</a>
			</li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div>
	<!-- /.container -->
	<footer>
		<ul>
			<li>
				<a href="mailto:jbhatt@cs.stonybrook.edu">email</a>
			</li>
			<li>
				<a href="https://github.com/jay-z007">github</a>
			</li>
		</ul>
	</footer>

	{% include scripts.html %}

</body>

</html>